aiofiles==22.1.0
aiosqlite==0.19.0
anyio==3.7.1
apptools==4.5.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.4.0
attrs==24.2.0
Babel==2.14.0
backcall==0.2.0
backports.functools-lru-cache==2.0.0
beautifulsoup4==4.13.4
bleach==6.0.0
cached-property==1.5.2
certifi==2025.4.26
cffi==1.15.1
charset-normalizer==3.4.2
cheroot==10.0.0
CherryPy==18.8.0
colorama==0.4.6
colour==0.1.5
configobj==5.0.9
corner==2.2.1
cycler==0.11.0
decorator==5.1.1
defusedxml==0.7.1
emcee==3.1.6
entrypoints==0.4
envisage==4.9.2
et-xmlfile==1.1.0
exceptiongroup==1.2.2
executing==1.2.0
faerun==0.4.7
fastjsonschema==2.21.1
fonttools==4.38.0
fqdn==1.5.1
icecream==2.1.3
idna==3.10
importlib-metadata==6.7.0
importlib-resources==5.12.0
iniconfig==2.0.0
ipykernel==5.5.5
ipython==7.33.0
ipython_genutils==0.2.0
isoduration==20.11.0
jaraco.collections==4.2.0
jedi==0.19.1
Jinja2==3.1.6
joblib==1.3.2
json5==0.9.16
jsonpointer==3.0.0
jsonschema==4.17.3
jupyter-client==7.1.2
jupyter_core==4.12.0
jupyter-events==0.6.3
jupyter-server==1.24.0
jupyter_server_fileid==0.9.3
jupyter_server_ydoc==0.8.0
jupyter-ydoc==0.2.5
jupyterlab==3.6.8
jupyterlab-pygments==0.2.2
jupyterlab_server==2.24.0
kiwisolver==1.4.5
llvmlite==0.39.1
MAP4==1.0
MarkupSafe==2.1.5
matplotlib==3.5.3
matplotlib-inline==0.1.7
mayavi==4.7.2
mhfp==1.9.6
mistune==3.0.2
mkl-service==2.0.2
MouseInfo==0.1.3
nbclassic==1.2.0
nbclient==0.7.4
nbconvert==7.6.0
nbformat==5.8.0
nest_asyncio==1.6.0
networkx==2.6.2
nmrsim==0.6.0.post1
notebook==6.5.7
notebook_shim==0.2.4
numba==0.56.4
numpy==1.19.5
openpyxl==3.1.2
packaging==24.0
pandas==0.25.3
pandocfilters==1.5.1
parso==0.8.4
patsy==0.5.6
pickleshare==0.7.5
Pillow==9.5.0
pip==24.0
pkgutil_resolve_name==1.3.10
pluggy==1.0.0
portend==3.1.0
prometheus-client==0.17.1
prompt_toolkit==3.0.48
PyAutoGUI==0.9.47
pycparser==2.21
pyface==7.1.0
PyGetWindow==0.0.9
Pygments==2.17.2
PyMsgBox==1.0.9
pyparsing==3.1.2
pyperclip==1.9.0
PyQt5==5.15.0
PyQt5-sip==12.8.0
PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==1.0.1
pytest==7.4.4
python-dateutil==2.9.0.post0
python-json-logger==3.0.1
pytweening==1.2.0
pytz==2024.2
pywin32==306
pywinpty==2.0.10
PyYAML==6.0.1
pyzmq==26.2.1
qtconsole==4.5.1
QtPy==1.8.0
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
scikit-learn==0.21.2
scipy==1.7.3
seaborn==0.10.1
Send2Trash==1.8.3
setuptools==68.0.0
shortuuid==1.0.13
six==1.16.0
sniffio==1.3.1
soupsieve==2.4.1
sparse==0.13.0
statsmodels==0.10.0
terminado==0.17.1
tinycss2==1.2.1
tomli==2.0.2
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
traits==6.1.1
traitsui==7.1.0
typing_extensions==4.7.1
ujson==5.7.0
uncertainties==3.1.2
uri-template==1.3.0
urllib3==2.0.7
vtk==8.1.2
wcwidth==0.2.10
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
wheel==0.42.0
xlrd==1.2.0
y-py==0.6.2
ypy-websocket==0.8.4
zipp==3.15.0
